@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-wix;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.font-bold {
  @apply font-wix font-black;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-ctrl-icon {
  display: none !important;
}

.mapboxgl-ctrl-attrib-button {
  display: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

.max-w-7xl {
}
